<% content_for :javascript do %>
  <script>
    $(function() {
      console.log("JQuery here!");
      $("#organization-fields").hide();
      $("#user-fields").hide();
      $("#ticket-fields").hide();
    });
    $("#organization-select").click(function( event ){
      console.log("Organization!");
      $("#organization-fields").toggle();
    });
  </script>
<% end %>

<h1>What are you searching for?</h1>

<button id="organization-select">An Organization</button>
<div id="organization-fields" >
  <h2>What are you searching with?</h2>
  <ul>
    <li>Organization ID</li>
    <li>URL</li>
    <li>External ID</li>
    <li>Name</li>
    <li>Domain name</li>
    <li>Created date</li>
    <li>Details</li>
    <li>Shared Tickets</li>
    <li>Tags</li>
  </ul>
</div>

<button id="user-select">A User</button>
<div id="user-fields">
  <h2>What are you searching with?</h2>
  <ul>
    <li>User ID</li>
    <li>URL</li>
    <li>External ID</li>
    <li>Name</li>
    <li>Alias</li>
    <li>Created date</li>
    <li>Active</li>
    <li>Verified</li>
    <li>Shared</li>
    <li>Locale</li>
    <li>Timezome</li>
    <li>Last login</li>
    <li>Email</li>
    <li>Phone</li>
    <li>signature</li>
    <li>Organization ID</li>
    <li>Tags</li>
    <li>Suspended</li>
    <li>Role</li>
  </ul>
</div>

<button id="ticket-select">A Ticket</button>
<div id="ticket-fields">
  <h2>What are you searching with?</h2>
  <ul>
    <li>Ticket ID</li>
    <li>URL</li>
    <li>External ID</li>
    <li>Created date</li>
    <li>Type</li>
    <li>Subject</li>
    <li>Description</li>
    <li>Status</li>
    <li>Submitter ID</li>
    <li>Assignee ID</li>
    <li>Organization ID</li>
    <li>Tags</li>
    <li>Has incidents?</li>
    <li>Due date</li>
    <li>Submitted via</li>
  </ul>
</div>